/RemotePanorama/RemotePanorama/bin
/RemotePanorama/RemotePanorama/obj
/PanoramaClient/TestHandler/bin
/PanoramaClient/TestHandler/obj
/PanoramaClient/.vs
/RemotePanorama/obj
/RemotePanorama/RemotePanorama.csproj.user
/RemotePanorama/bin
/RemotePanorama/.vs
/RemotePanorama/RemotePanorama.csproj.DotSettings.user
/PanoramaClient/*.user
